<ion-header no-border [translucent]="true">
  <ion-toolbar color="light">
    <ion-img src="../assets/icon/favicon.png" class="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button class="button" (click)="t1()" expand="full" color="danger">Temporada 1</ion-button>
  <ion-button class="button" (click)="t2()" expand="full" color="danger">Temporada 2</ion-button>
  <ion-button class="button" (click)="t3()" expand="full" color="danger">Temporada 3</ion-button>
  <ion-button class="button" (click)="t4()" expand="full" color="danger">Temporada 4</ion-button>

  <ion-item-divider></ion-item-divider>


<ion-button class="button" (click)="fechar()" expand="full" color="danger">Página Inicial</ion-button>
</ion-content> 