<ion-header no-border [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../assets/icon/series.png" class="logo"></ion-img>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item lines="none">
    <p slot="start">Populares</p>
  </ion-item>

  <ion-slides [options]="slidesOptions">
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/altered-carbon.jpg)'" class="poster1_card"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/la-casa-de-papel.jpg)'" class="poster1_card"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/stranger-things.jpg)'" class="poster1_card"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/the-witcher.jpg)'" class="poster1_card"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/the-100.jpg)'" class="poster1_card"></ion-card>
    </ion-slide>
  </ion-slides>

  <ion-item lines="none">
    <p slot="start">Romance</p>
  </ion-item>

  <ion-slides [options]="slidesOptions">
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/altered-carbon.jpg)'" class="poster1_card"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/la-casa-de-papel.jpg)'" class="poster1_card"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/stranger-things.jpg)'" class="poster1_card"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/the-witcher.jpg)'" class="poster1_card"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/the-100.jpg)'" class="poster1_card"></ion-card>
    </ion-slide>
  </ion-slides>

  <ion-item lines="none">
    <p slot="start">Ficção</p>
  </ion-item>

  <ion-slides [options]="slidesOptions">
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/altered-carbon.jpg)'" class="poster1_card"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/la-casa-de-papel.jpg)'" class="poster1_card"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/stranger-things.jpg)'" class="poster1_card"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/the-witcher.jpg)'" class="poster1_card"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/the-100.jpg)'" class="poster1_card"></ion-card>
    </ion-slide>
  </ion-slides>
  
</ion-content>
