<ion-header no-border [translucent]="true">
  <ion-toolbar color="light">
    <ion-img src="../assets/icon/favicon.png" class="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h5>Episódio 1- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/conteudolb4/lacasadepapel/04dub/01-BAIXO.mp4?token=0TezK27Xz0pW1I1XW37OsQ&expires=1589175962"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>


<h5>Episódio 1- Legendado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/conteudolb4/lacasadepapel/004leg/01-BAIXO.mp4?token=C0hSuY04bjcEGgOIB5RALQ&expires=1589175998"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 2- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/conteudolb4/lacasadepapel/04dub/02-BAIXO.mp4?token=-xcN5naxQRSLXO7l__9Ssw&expires=1589176062"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 2- Legendado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/conteudolb4/lacasadepapel/004leg/02-BAIXO.mp4?token=Up3yH8e_J79NuhzP0RJwfA&expires=1589176097"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 3- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/conteudolb4/lacasadepapel/04dub/03-BAIXO.mp4?token=GZXWt8bR7gJMKyxAJWEpHA&expires=1589176137"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 3- Legendado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/conteudolb4/lacasadepapel/004leg/03-BAIXO.mp4?token=QjTQfWqMjIhFtaVPC6z2WQ&expires=1589176198"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

  <h5>Episódio 4- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/conteudolb4/lacasadepapel/04dub/04-BAIXO.mp4?token=eri-hhWwC4BSjxc4_QT0Qw&expires=1589176253"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>


<h5>Episódio 4- Legendado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/conteudolb4/lacasadepapel/004leg/04-BAIXO.mp4?token=K4WhIQA3ua0HwdNxdua8gQ&expires=1589176316"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 5- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/conteudolb4/lacasadepapel/04dub/05-BAIXO.mp4?token=5Gh_5-wcDjunilCvBAGM2Q&expires=1589176380"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 5- Legendado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/conteudolb4/lacasadepapel/004leg/05-BAIXO.mp4?token=46TY1azEWXUHEBCNHQvyTw&expires=1589176426"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 6- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/conteudolb4/lacasadepapel/04dub/06-BAIXO.mp4?token=43-wmvOymKuPh8K8bDZcwQ&expires=1589176466"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 6- Legendado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/conteudolb4/lacasadepapel/004leg/06-BAIXO.mp4?token=K1KKLTH_xInnJBBC7z4kYQ&expires=1589176494"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

  <h5>Episódio 7- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/conteudolb4/lacasadepapel/04dub/07-BAIXO.mp4?token=ylxlVtYZwUaMGM5XCIOIPg&expires=1589176531"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>


<h5>Episódio 7- Legendado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/conteudolb4/lacasadepapel/004leg/07-BAIXO.mp4?token=Ub76KXUuQhrUH04e-hA4ew&expires=1589176560"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 8- Dublado</h5>
<h3>Episódio legendado não disponível</h3>
  <iframe
  src="https://cdn.netcine.info/html/content/conteudolb4/lacasadepapel/04dub/08-BAIXO.mp4?token=gP16ZtvabtooUup5RaH5ng&expires=1589176592"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<ion-button class="button" (click)="fechar()" expand="full" color="danger">Voltar</ion-button>
</ion-content> 