<ion-header no-border [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../assets/icon/favicon.png" class="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-slides [options]="slidesOptions2">
    <ion-slide>
  <ion-card class="card2" routerLink="/releases">
    <h4>Lançamentos</h4>
    <router-outlet></router-outlet>
  </ion-card>
    </ion-slide>
    <ion-slide>
  <ion-card class="card3" routerLink="/mwatched">
    <h4>Mais assistidos</h4>
    <router-outlet></router-outlet>
  </ion-card>
    </ion-slide>
    <ion-slide>
 <ion-card class="card4" routerLink="/upcoming">
     <h4>Em breve</h4>
     <router-outlet></router-outlet>
  </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-item lines="none">
    <p slot="start">Em Alta</p>
  </ion-item>

  <ion-slides [options]="slidesOptions3">
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/toy-story4.jpg)'" class="poster" (click)="toystory4()"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/bright.jpg)'" class="poster" (click)="bright()"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/logan.jpg)'" class="poster" (click)="logan()"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/wifi-ralph.png)'" class="poster" (click)="wifiralph()"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/vingadores-ult.jpg)'" class="poster" (click)="vingadoresult()"></ion-card>
    </ion-slide>
  </ion-slides>

  <ion-item lines="none">
    <p slot="start">Séries</p>
    <ion-icon name="arrow-forward" slot="end" routerLink="/series"></ion-icon>
    <router-outlet></router-outlet>
  </ion-item>

  <ion-slides [options]="slidesOptions">
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/toy-story4.jpg)'" class="poster" (click)="toystory4()"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/bright.jpg)'" class="poster" (click)="bright()"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/logan.jpg)'" class="poster" (click)="logan()"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/wifi-ralph.png)'" class="poster" (click)="wifiralph()"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/vingadores-ult.jpg)'" class="poster" (click)="vingadoresult()"></ion-card>
    </ion-slide>
  </ion-slides>

  <ion-item lines="none">
    <p slot="start">Filmes</p>
    <ion-icon name="arrow-forward" slot="end" routerLink="/movies"></ion-icon>
    <router-outlet></router-outlet>
  </ion-item>

  <ion-slides [options]="slidesOptions">
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/toy-story4.jpg)'" class="poster" (click)="toystory4()"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/bright.jpg)'" class="poster" (click)="bright()"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/logan.jpg)'" class="poster" (click)="logan()"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/wifi-ralph.png)'" class="poster" (click)="wifiralph()"></ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card [style.backgroundImage]="'url(./assets/posters/vingadores-ult.jpg)'" class="poster" (click)="vingadoresult()"></ion-card>
    </ion-slide>
  </ion-slides>
  
</ion-content>
