ion-menu-button {
  color: red;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.logo {
  height: 110px;
}
.poster1_card{
  width: 140px;
  height: 180px;
  background-size: cover;
}
.poster{
  width: 400px;
  height: 400px;
  background-size: cover;
}
.card2{
  width: 180px;
  height: 70px;
  background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
  url('/assets/posters/stranger-things.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.card3{
  width: 180px;
  height: 70px;
  background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
  url('/assets/posters/altered-carbon.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.card4{
  width: 180px;
  height: 70px;
  background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
  url('/assets/posters/the-witcher.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}