:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
  }
  .logo {
    height: 110px;
}
  .poster{
    width: 300px;
    height: 400px;
    left: 25px;
    background-size: cover;
}
  ion-menu-button {
    color: red;
}
.card1{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/vingadores-ult.jpg?alt=media&token=7162f747-0e82-46c9-bc5f-38f2a1736281);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card2{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/toy-story4.jpg?alt=media&token=380b5793-6e24-4025-86ce-8b6fa24d3df1);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card3{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/aq2.jpg?alt=media&token=e18368a0-811b-4cf6-aeb7-dc33b11a1e8b);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card4{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/dead2.jpg?alt=media&token=8fe0c5b5-e8ca-4832-bd7c-d6849fd5fbee);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card5{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/orei2.jpg?alt=media&token=5b506fea-6217-4338-9332-c92ecffcb648);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card6{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/liga2.jpg?alt=media&token=cf55f6d3-cd6d-4f84-a537-3555f8d9f733);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card7{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/cap2.jpg?alt=media&token=eb36a2fd-081c-4cf1-b730-7bc465312c17);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card8{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/it2.jpg?alt=media&token=7894ae12-e20d-41dc-bd79-4f86ec61ccd9);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card9{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/ame2.jpg?alt=media&token=4abc88bd-8036-4727-94be-54e8a768483f);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card10{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/barraca2.jpg?alt=media&token=8797646d-2f99-425d-a427-d73e1bc3bc2a);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card11{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/192.jpg?alt=media&token=04be9ea2-82d4-45f2-988f-c1a5e5aecae1);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card12{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/truq2.jpg?alt=media&token=1dacd994-4a24-4de3-af9d-7d97c3dcdb01);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card13{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/3p2.jpg?alt=media&token=e00e39c4-e0a3-45e6-bb23-593cfdd0832d);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card14{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/thewi2.jpg?alt=media&token=049215d8-b1fc-4b08-bcda-6d57efa3f918);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card15{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/the-end-of.jpg?alt=media&token=df04d858-4c21-4758-b650-23e0dcaf9151);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card16{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/the-rain.jpg?alt=media&token=1b948615-036b-4489-8c81-6d967d86fd5e);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card17{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/omu3.jpg?alt=media&token=8c50dc22-61f9-46fd-b1c0-13686641a7f6);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card18{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/stranger-things.jpg?alt=media&token=015f6377-1c56-415f-8916-cc253394a815);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card19{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/thewi2.jpg?alt=media&token=049215d8-b1fc-4b08-bcda-6d57efa3f918);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card20{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/euph.jpg?alt=media&token=a6dd26d8-686a-4f0f-84de-8a3b15ee53e8);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card21{
    width: 180px;
    height: 70px;
    background: linear-gradient(rgba(229, 9, 20, 0.61), rgba(229, 9, 20, 0.61)),
    url(https://firebasestorage.googleapis.com/v0/b/todofirebase-32bdb.appspot.com/o/dark.jpg?alt=media&token=77a9c4e8-0ae8-4322-ba65-01b11c10f01f);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }