<ion-header no-border [translucent]="true">
  <ion-toolbar color="light">
    <ion-img src="../assets/icon/favicon.png" class="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h5>Legendado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/conteudolb4/filmes2020/YEDINCIKOGUSTAKIMUCIZELEG-BAIXO.mp4?token=0oPYIvstLnUSBi8X9qZ0TQ&expires=1589147612&ip=2804:14c:5bd6:8ca2:60fa:8fee:743f:23fa"
  frameborder="0"
  allowfullscreen
  width="500"
  height="300"
></iframe>

<ion-button class="button" (click)="fechar()" expand="full" color="danger">Página Inicial</ion-button>
</ion-content>