<ion-header no-border [translucent]="true">
  <ion-toolbar color="light">
    <ion-img src="../assets/icon/favicon.png" class="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h5>Episódio 1- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/delivery/casadepapel/02dub/01-BAIXO.mp4?token=NELwKG__48DJoXQP6pDkWQ&expires=1589174076"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>


<h5>Episódio 1- Legendado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/02leg/01-BAIXO.mp4?token=ev3XfVx5TcdCUMziRSJMiQ&expires=1589174163"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 2- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/delivery/casadepapel/02dub/02-BAIXO.mp4?token=RonUHH-lpFHkwYigfAoYAw&expires=1589174299"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 2- Legendado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/02leg/02-BAIXO.mp4?token=75fH6mHhoFSESMHSpFky-Q&expires=1589174234"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 3- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/delivery/casadepapel/02dub/03-BAIXO.mp4?token=q6u1vMIqh_VkUqDinIa97w&expires=1589174428"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 3- Legendado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/02leg/03-BAIXO.mp4?token=1cOlnO6FB52LE2GWOyaabw&expires=1589174400"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 4- Legendado</h5>
<h3>Episódio dublado não disponível</h3>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/02leg/04-BAIXO.mp4?token=HvSCYrsIcizbG0I-pNBYYg&expires=1589174506"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 5- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/delivery/casadepapel/02dub/05-BAIXO.mp4?token=u-K2uL1Fn6Eo950Lv9NB2Q&expires=1589174637"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 5- Legendado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/02leg/05-BAIXO.mp4?token=o6qkdAkSSra_dywJmqFfMw&expires=1589174557"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 6- Legendado</h5>
<h3>Episódio dublado não disponível</h3>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/02leg/06-BAIXO.mp4?token=R00T_ELeY_vK7hu3z2jNyA&expires=1589174699"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>


<ion-button class="button" (click)="fechar()" expand="full" color="danger">Voltar</ion-button>
</ion-content> 