:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
  }
  .logo {
    height: 110px;
}
  .poster{
    width: 300px;
    height: 400px;
    left: 25px;
    background-size: cover;
}
  ion-menu-button {
    color: red;
}