<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-img src="../assets/icon/logo3.png" class="logo"></ion-img>
          <ion-list-header style="font-family:KeepCalm;">HykemFlix</ion-list-header>
          <ion-note style="font-family:Coolvetica;">Seu app de filmes e séries!</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list>
          <ion-item>
            <ion-icon color="danger" slot="start" ios="moon" md="moon"></ion-icon>
            <ion-label>Modo Noturno</ion-label>
            <ion-toggle [checked]=isDarkMode (ionChange)="onClick($event)" slot="end">
            </ion-toggle>
          </ion-item>
          </ion-list>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon color="danger" slot="start" ios="code" md="code"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
        <ion-list id="labels-list">
        <ion-list-header>Suporte</ion-list-header>

          <ion-item>
            <ion-icon color="danger" slot="start" ios="mail" md="mail"></ion-icon>
            <ion-label>hykem.corp@gmail.com</ion-label>
          </ion-item>
        </ion-list>
        <ion-list>
        <ion-item>
          <ion-icon color="danger" slot="start" ios="moon" md="moon"></ion-icon>
          <ion-label>Modo Noturno</ion-label>
          <ion-toggle [checked]=isDarkMode (ionChange)="onClick($event)" slot="end">
          </ion-toggle>
        </ion-item>
        </ion-list>
        <ion-list>
        <ion-item>
          <ion-icon color="danger" slot="start" ios="information-circle" md="information-circle"></ion-icon>
          <b>HykemFlix Beta v2.4.6</b>
        </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
