<ion-header no-border [translucent]="true">
  <ion-toolbar color="light">
    <ion-img src="../assets/icon/favicon.png" class="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label>A 1° temporada está disponível apenas em versão dublada</ion-label>
  <h5>Episódio 1- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/01dub/01-BAIXO.mp4?token=Ao_HqdYjL6LFHAU8mu5TJQ&expires=1589172991"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>


<h5>Episódio 2- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/01dub/02-BAIXO.mp4?token=6RPJqLBeJ9YqZW71WPhbtw&expires=1589173131"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 3- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/01dub/03-BAIXO.mp4?token=qjx7nZGZiSvG_U5Y_F67Mg&expires=1589173359"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 4- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/01dub/04-BAIXO.mp4?token=jXlKFgkLyHe7wnfDcvuZwQ&expires=1589173445"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 5- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/01dub/05-BAIXO.mp4?token=7piHOyF3igOTS_L0mMdVwA&expires=1589173482"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 6- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/01dub/06-BAIXO.mp4?token=fRCiSgWBmY3rAQNmMOqP7Q&expires=1589173542"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 7- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/01dub/0007-BAIXO.mp4?token=Y_5HsbUr1ESbocgrjQiEKw&expires=1589173589"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 8- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/01dub/008-BAIXO.mp4?token=6auwSs3L3YkSvekIgojUeQ&expires=1589173685"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 9- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/01dub/009-BAIXO.mp4?token=PTF7vzPD1NxhCAoBnRx9Yw&expires=1589173738"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 10- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/01dub/010-BAIXO.mp4?token=b_EcKvIwVQzwAtSPLn5jfw&expires=1589173789"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 11- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/01dub/011-BAIXO.mp4?token=D9azjnwb0brrIciT50u_QA&expires=1589173861"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 12- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/01dub/012-BAIXO.mp4?token=aLcsc5YFdvJnHh4tS5QPwA&expires=1589173922"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<h5>Episódio 13- Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/casadepapel/01dub/013-BAIXO.mp4?token=9NnX_YrnOCG6pH30AWJE4g&expires=1589173968"
  frameborder="0"
  allowfullscreen
  width="400"
  height="300"
></iframe>

<ion-button class="button" (click)="fechar()" expand="full" color="danger">Voltar</ion-button>
</ion-content> 