<ion-header no-border [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../assets/icon/favicon.png" class="logo"></ion-img>
  </ion-toolbar>
  <ion-item lines="none">
    <p slot="start">Arraste para o lado para ver mais títulos</p>
  </ion-item>
</ion-header>

<ion-content padding>

  <ion-item lines="none">
    <p slot="start">Séries mais assistidas</p>
  </ion-item>

  <ion-slides [options]="slidesOptions3">
    <ion-slide *ngFor="let item of mostS">
      <ion-card class="poster" button [routerLink]="['/details', item.id]"> <img src="{{ item.poster }}" class="poster" /> </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-item lines="none">
    <p slot="start">Filmes mais assistidos</p>
  </ion-item>

  <ion-slides [options]="slidesOptions3">
    <ion-slide *ngFor="let item of most">
      <ion-card class="poster" button [routerLink]="['/details', item.id]"> <img src="{{ item.poster }}" class="poster" /> </ion-card>
    </ion-slide>
  </ion-slides>
  
</ion-content>