<ion-header no-border [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="Interstitial()">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../assets/icon/favicon.png" class="logo"></ion-img>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>

  <ion-slides [options]="slidesOptions2">
    <ion-item *ngIf="!data">
      <ion-skeleton-text animated style="width: 180px; height: 70px"></ion-skeleton-text>
    </ion-item>
    <ion-slide>
  <ion-card class="card2" (click)="Interstitial()" routerLink="/releases">
    <h4 style="font-family:KeepCalm; font-size: 18px;">Lançamentos</h4>
    <router-outlet></router-outlet>
  </ion-card>
    </ion-slide>
    <ion-slide>
  <ion-card class="card3" (click)="Interstitial()" routerLink="/mwatched">
    <h4 style="font-family:KeepCalm; font-size: 18px;">Mais assistidos</h4>
    <router-outlet></router-outlet>
  </ion-card>
    </ion-slide>
    <ion-slide>
 <ion-card class="card4" (click)="Interstitial()" routerLink="/upcoming">
     <h4 style="font-family:KeepCalm; font-size: 18px;">Em breve</h4>
     <router-outlet></router-outlet>
  </ion-card>
    </ion-slide>
  </ion-slides>

  
 
  <ion-list>

  <ion-item lines="none">
    <p slot="start" style="font-family:KeepCalm;">Em Alta</p>
  </ion-item>

  <ion-slides [options]="slidesOptions3">
    <ion-item *ngIf="!data">
      <ion-skeleton-text animated style="width: 300px; height: 400px"></ion-skeleton-text>
    </ion-item>
    <ion-slide *ngFor="let item of hype">
      <ion-card class="poster" button [routerLink]="['/details', item.id]"> <img src="{{ item.poster }}" class="poster" /> </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-item lines="none">
    <p slot="start">Séries</p>
    <ion-icon color="danger" name="arrow-forward" slot="end" routerLink="/series"></ion-icon>
    <router-outlet></router-outlet>
  </ion-item>

  <ion-slides [options]="slidesOptions">
    <ion-slide *ngFor="let item of series">
      <ion-card class="poster1_card" button [routerLink]="['/details', item.id]"> <img src="{{ item.poster }}" class="poster1_card" /> </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-item lines="none">
    <p slot="start">Filmes</p>
    <ion-icon color="danger" name="arrow-forward" slot="end" routerLink="/movies"></ion-icon>
    <router-outlet></router-outlet>
  </ion-item>

  <ion-slides [options]="slidesOptions">
    <ion-slide *ngFor="let item of movies">
      <ion-card class="poster1_card" button [routerLink]="['/details', item.id]"> <img src="{{ item.poster }}" class="poster1_card" /> </ion-card>
    </ion-slide>
  </ion-slides>

  </ion-list>

</ion-content>