<ion-header no-border [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../assets/icon/favicon.png" class="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item lines="none">
    <p slot="start" style="font-family:KeepCalm;">Novas Séries</p>
  </ion-item>

  <ion-slides [options]="slidesOptions3">
    <ion-item *ngIf="!data">
      <ion-skeleton-text animated style="width: 180px; height: 240px"></ion-skeleton-text>
    </ion-item>
    <ion-slide *ngFor="let item of releaseS">
      <ion-card class="poster" (click)="Interstitial()" button [routerLink]="['/details', item.id]"> <img src="{{ item.poster }}" class="poster" /> </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-item lines="none">
    <p slot="start" style="font-family:KeepCalm;">Novos Filmes</p>
  </ion-item>

  <ion-slides [options]="slidesOptions3">
    <ion-item *ngIf="!data">
      <ion-skeleton-text animated style="width: 180px; height: 240px"></ion-skeleton-text>
    </ion-item>
    <ion-slide *ngFor="let item of release">
      <ion-card class="poster" (click)="Interstitial()" button [routerLink]="['/details', item.id]"> <img src="{{ item.poster }}" class="poster" /> </ion-card>
    </ion-slide>
  </ion-slides>
  
</ion-content>