<ion-header no-border [translucent]="true">
  <ion-toolbar color="light">
    <ion-img src="../assets/icon/favicon.png" class="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h5>Legendado</h5>
  <iframe
  src="https://firebasestorage.googleapis.com/v0/b/hykemflix.appspot.com/o/file_example_MP4_480_1_5MG.mp4?alt=media&token=15323fd3-eb63-46f4-988f-52dfb7d1de56"
  frameborder="0"
  allowfullscreen
  width="500"
  height="300"
></iframe>
  <h5>Dublado</h5>
  <iframe
  src="https://cdn.netcine.info/html/content/httpdelivery-auth024846/filmes2017/BRIGHTDUB-BAIXO.mp4?token=n9hgaA-t1ZTWMvLlLBI2LA&expires=1589148988"
  frameborder="0"
  allowfullscreen
  width="500"
  height="300"
></iframe>

<ion-button class="button" (click)="close()" expand="full" color="danger">Página Inicial</ion-button>
</ion-content>